@import url('https://fonts.googleapis.com/css2?family=Knewave&family=Roboto:wght@400;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.header-wrapper, .main-wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

.main-wrapper {
    height: 100%;
}

header {
    position: fixed;
    width: 100%;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.container {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
}

.background {
    background-image: url(images/pexels-artem-mizyuk-1739810.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1;
    filter: brightness(50%);
}

.logo {
    display: inline;
    font-family: 'Knewave', cursive;
    font-size: 2em;
    color: #eeeeee;
}

nav {
    display: inline-block;
}

.nav-item {
    display: inline-block;
}

nav a {
    color: #eeeeee;
    display: inline-block;
    width: 100px;
    padding: 10px;
    text-align: center;
    margin: 0 10px;
    border-radius: 25px;
}

nav a:hover {
    background-color:#5eb8ff;
    color: #fff;
    transition: background-color 800ms ease;
}

#home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#services {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.contact p {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 2em;
}

.contact h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 3em;
}

.active {
    background-color:#0288d1;
    color: #fff;
}

.services p {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 2em;
}

.services h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 3em;
}

.me_frame{
    max-height: 200px;
    border-radius: 500px;
    border: 3px #01579b solid;
}

.display {
    margin: 20px 0;
    display: flex;
    width: 100%;
    justify-content: center;
}

.tag {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 5em;
}